.logout-form {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1.5rem;
  filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.075));
  width: 30rem;
  max-width: 95%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
