.AuthPage {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: rgb(192, 132, 252);
  background: linear-gradient(
    24deg,
    rgba(192, 132, 252, 0.7455357142857143) 3%,
    rgba(249, 168, 212, 0.6699054621848739) 36%,
    rgba(253, 164, 175, 0.49343487394957986) 59%,
    rgba(147, 197, 253, 0.3561799719887955) 80%
  );
}

.AuthPage .AuthPage__info {
  display: flex;
  flex-direction: column;
  width: 80rem;
  max-width: 95%;
  margin: auto;
  text-align: center;
}

.AuthPage .AuthPage__info img {
  width: 20rem;
  height: auto;
  display: block;
  align-self: center;
}

.AuthPage .AuthPage__info h1 {
  font-size: 5rem;
  font-weight: 300;
}
.AuthPage .AuthPage__info .p-tagline {
  margin: 1rem auto;
  padding: 0.6rem;
  border-radius: 0.6rem;
  font-size: 2rem;
  text-transform: uppercase;
  width: fit-content;
}

.AuthPage .AuthPage__info .p-get-started {
  font-size: 1.5rem;

  letter-spacing: 0.2rem;
  font-weight: 600;
}

.AuthPage .AuthPage__info h1 strong {
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}

.AuthPage .AuthPage__info div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AuthPage .AuthPage__info div button {
  padding: 0.8rem;
  border-radius: 1rem;
  width: 15rem;
  max-width: 90%;
  border: 2px solid rgb(236, 236, 236);
  background-color: rgba(255, 255, 255, 0.267);
  font-size: 1.4rem;
  font-family: "Roboto Mono", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin: 1rem auto;
}

.AuthPage .AuthPage__info div button:hover {
  color: white;
  background-color: black;
}

@media only screen and (max-width: 700px) {
  .AuthPage {
    font-size: small;
  }

  .AuthPage .AuthPage__info div {
    flex-direction: row;
  }

  .AuthPage .AuthPage__info .p-get-started {
    font-size: 1.2rem;
  }

  .AuthPage .AuthPage__info h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1rem;
  }

  .AuthPage .AuthPage__info div button {
    padding: 0.6rem;
    width: 10rem;
    max-width: 90%;
    font-size: 1rem;
    margin: 0.8rem auto;
  }
  .AuthPage .AuthPage__info img {
    width: 10rem;
  }

  .AuthPage .AuthPage__info .p-tagline {
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    width: fit-content;
  }
}
