.edit-notes {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: var(--notes-bg-color);
  border-radius: 1.5rem;
  color: var(--font-color);
}

.edit-note {
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--note-bg-color);
}

.edit-note .edit-note__div1 {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  flex-wrap: wrap;
}

.edit-note .edit-note__div1 span {
  height: fit-content;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border-radius: 10rem;
  background-color: rgba(37, 99, 235, 1);
}
.edit-note .edit-note__div1 span:hover {
}

.edit-note__title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 0rem 0;
}

.edit-note__content {
  font-size: 1.1rem;
  margin: 0 0 0rem 0;
}

.edit-note__date {
  font-size: 1.2rem;
}
/* -----------  EDIT TOGGLE MODAL -----------------------*/

.editModal {
  width: 60rem;
  max-width: 90%;
  margin: 0rem;
  background-color: var(--modal-bg-color);
  padding: 2rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.editModal form {
  display: flex;
  flex-direction: column;
}

.editModal form label {
  font-size: 1.3rem;
  font-weight: 500;
}

.editModal form input {
  max-width: 95%;
  border: none;
  background-color: var(--form-input-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 0.8rem 0 0.8rem 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
  color: var(--font-color);
  transition: all 0.2s;
}

.editModal form input:focus {
  border: 2px solid rgb(41, 41, 253);
}

.editModal form textarea {
  max-width: 95%;
  border: none;
  background-color: var(--form-input-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 0.8rem 0 0.8rem 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
  color: var(--font-color);
  transition: all 0.2s;
}

.editModal form textarea:focus {
  border: 2px solid rgb(44, 44, 255);
}

.editModal__closebtn {
  float: right;
  border: none;
  background: transparent;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  cursor: pointer;
  color: var(--font-color);
}

.editModal__closebtn:hover {
  background-color: transparent;
}

/* -----------  EDIT TOGGLE MODAL -----------------------*/

/* -------------------- MEDIA QUERY ----------------------------*/

@media only screen and (max-width: 600px) {
  .edit-note .edit-note__div1 {
    display: flex;

    gap: 1rem;
  }
  .edit-note__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 0rem 0;
    width: 100%;
  }

  .edit-note__date {
    font-size: 0.8rem;
    width: 100%;
    text-align: right;
  }
}
