.new-note {
  padding: 1rem;
  margin: 0rem;
  border-radius: 1.5rem;
  background-color: white;
}

.new-note Form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: flex-end;
}

.new-note Form input {
  width: 20rem;
  max-width: 90%;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid rgb(233, 233, 233);
  background-color: rgb(255, 255, 255);
  border-radius: 0.6rem;
  outline: none;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.new-note Form input:focus {
  border: 2px solid blue;
}

.new-note Form textarea {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid rgb(223, 223, 223);
  background-color: rgb(255, 255, 255);
  border-radius: 0.6rem;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.new-note Form textarea:focus {
  border: 2px solid blue;
}
/* -------------------- MEDIA QUERY ----------------------------*/

@media only screen and (max-width: 600px) {
  .new-note Form input {
    width: 10rem;
    max-width: 95%;
  }
}
