.notes {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  background-color: #c3d6ff3a;
  border-radius: 1.5rem;
  flex-wrap: wrap;
}

.note {
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  gap: 0.5rem;
  transition: background-color scale 0.3s;
}

.note.view-note {
  position: absolute;
  width: 30rem;
  height: 15rem;
  top: 50%;
  left: 50%;

  -webkit-transition: all 0.2s;
}

.note .note__div1 {
  display: flex;
  justify-content: space-between;
}
.note .note__div1 span {
  height: fit-content;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 10rem;
  transition: all 0.3s;
  color: black;
  cursor: pointer;
}
.note .note__div1 span:hover {
  color: #3866ff;
}

.note .note__div1 span.favourite {
  color: #3866ff;
}

.note__title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.note__content {
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
  height: 9rem;
  overflow-y: scroll;
}

.note__date {
  font-size: 1rem;
  align-self: flex-end;
}

/* ------------------ MEDIA QUERY --------------------------*/

@media only screen and (max-width: 1000px) {
  .notes {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }

  .note {
  }
}
