.side-panel a {
  text-decoration: none;
  color: black;
  border-radius: 0.7rem;
  min-width: 10rem;
  padding: 0.8rem;
  margin: 0.5rem 0 0.5rem 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: -0.2s;
}
.side-panel a:hover {
  background: rgb(147, 197, 253);
  background: linear-gradient(
    36deg,
    rgba(147, 197, 253, 1) 37%,
    rgba(191, 219, 254, 1) 97%
  );
}

.side-panel a.active {
  color: white;
  background: rgb(55, 48, 163);
  background: linear-gradient(
    36deg,
    rgba(55, 48, 163, 1) 37%,
    rgba(37, 99, 235, 1) 97%
  );
}

.side-panel {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
  width: 15rem;
}

.side-panel__info {
  margin: 1rem 0 2rem 0;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-panel__info .logo {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.hl {
  height: 1px;
  width: 10rem;
  background-color: rgb(196, 196, 196);
  margin-top: 3rem;
  border-radius: 1rem;
}

.side-panel__navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.side-panel__navlinks p {
  border-radius: 0.7rem;
  background-color: transparent;
  transition: all 0.05s;
}

.side-panel__navlinks a.logout {
  background-color: #07598525;
  margin-top: 2rem;
}
.side-panel__navlinks a.logout:hover {
  background: rgb(55, 48, 163);
  background: linear-gradient(
    36deg,
    rgba(55, 48, 163, 1) 37%,
    rgba(37, 99, 235, 1) 97%
  );
  color: white;
}

/* --------------  MEDIA QUERY ------------------*/

@media only screen and (max-width: 600px) {
  .side-panel {
    display: none;
  }
}
