.welcome {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: white;
  width: min-content;
}

.welcome div {
  width: 25rem;
}

.welcome h3 {
  font-size: 2rem;
  font-weight: 700;
}

.welcome p {
  margin-top: 1rem;
}
