.topheader {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: transparent;
  margin: 1rem 2rem 0rem 0;
  padding: 1rem;
}

.offcanvas-btn {
  display: none;
  background-color: #c3d6ff00;
  color: var(--font-color);
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  transition: all 0.2s;
  float: right;
}
.offcanvas-btn:hover {
  background-color: #c3d6ff;
  color: var(--font-color);
}

.topheader input {
  padding: 0.8rem;
  margin: 0 1rem 0 0;
  width: 15rem;
  max-width: 90%;
  border: none;
  outline: none;
  background-color: var(--input-bg-color);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  transition: all 0.2s;
  color: var(--font-color);
  border: 1px solid var(--border-color);
}

.topheader input:focus {
  border: 2px solid var(--border-color);
  width: 40rem;
}

.topheader .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

.topheader .user-info P {
  font-size: 1.4rem;
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin: 0 0 0 1rem;
}

/* ------------------ MEDIA QUERY --------------------------*/

@media only screen and (max-width: 600px) {
  .topheader {
    background-color: #071952;
    margin: 0;
  }
  .topheader .user-info {
    display: none;
  }

  .topheader input {
    width: 10rem;
    font-size: 1rem;
  }
  .topheader input:focus {
    width: 15rem;
  }

  .offcanvas-btn {
    display: initial;
  }
}
