.topheader {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: transparent;
  margin: 1rem 2rem 0rem 0;
  padding: 1rem;
}

.offcanvas-btn {
  display: none;
  background-color: #c3d6ff00;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  transition: all 0.2s;
  float: right;
}
.offcanvas-btn:hover {
  background-color: #c3d6ff;
  color: black;
}

.topheader input {
  padding: 0.8rem;
  margin: 0 1rem 0 0;
  width: 15rem;
  max-width: 90%;
  border: none;
  outline: none;
  background-color: #c3d6ff;
  border-radius: 1rem;
  box-shadow: rgba(146, 146, 146, 0.432) 0px 2px 14px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  transition: all 0.3s;
}

.topheader input:focus {
  border: 2px solid #071952;
  width: 40rem;
}

.topheader .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topheader .user-info P {
  font-size: 1.2rem;
  color: black;
  margin: 0 0 0 1rem;
}

/* ------------------ MEDIA QUERY --------------------------*/

@media only screen and (max-width: 600px) {
  .topheader {
    background-color: #071952;
    margin: 0;
  }
  .topheader .user-info {
    display: none;
  }

  .topheader input {
    width: 10rem;
    font-size: 0.8rem;
  }
  .topheader input:focus {
    width: 10rem;
    border: none;
    transform: translateY(-2px);
  }

  .offcanvas-btn {
    display: initial;
  }
}
